[cache]
type=GoogleDisk
base=/osmcp/rails/public/tiles

[naip] 
debug=true
type=WMS 
# Took out the old Seamless Server URL
#url=http://isse.cr.usgs.gov/ArcGIS/services/Combined/SDDS_Imagery/MapServer/WMSServer 

# This one appears to work well
url=http://raster.nationalmap.gov/ArcGIS/services/Orthoimagery/USGS_EDC_Ortho_NAIP/ImageServer/WMSServer
layers=0
levels=20
bbox=-180,90,180,-90
srs=EPSG:102113 
extension=jpeg
#metaTile=yes
#metaBuffer=100
spherical_mercator=true
tms_type=google

[tnm] 
#NOTE: This isn't used any more!
debug=true
type=WMS 
#url=http://tnmdev.cr.usgs.gov/arcgis/services/TNM_Vector_Large/MapServer/WMSServer
url=http://services.nationalmap.gov/arcgis/services/TNM_Vector_Large/MapServer/WMSServer

layers=2
#layers=2,3,5,8,9,10,11,12,13,14,15,18,19,20,23,24,33,34,35,36,40,41,42,43,44,45,46,47,49,50,51,52,53,55,56
#27,28,

#,58,59,60

levels=20
bbox=-180,90,180,-90
srs=EPSG:102113 
extension=png
spherical_mercator=true
tms_type=google

[drg] 
debug=true
type=WMS 
url=http://raster.nationalmap.gov/ArcGIS/services/DRG/TNM_Digital_Raster_Graphics/MapServer/WMSServer
layers=0,1,2
levels=20
bbox=-180,90,180,-90
srs=EPSG:102113 
metaTile=yes
spherical_mercator=true
extension=png8
tms_type=google

[idx] 
debug=true
type=WMS 
url=http://services.nationalmap.gov/arcgis/services/map_indices/MapServer/WMSServer
layers=1,3,5,7
levels=18
bbox=-180,90,180,-90
srs=EPSG:102113 
spherical_mercator=true
extension=png8
tms_type=google
metaTile=yes
